body {
  background: linear-gradient(blue, white 50%, red);
  font-family: sans-serif;
}

img {
  width: 60px;
  height: 60px;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul {
  margin-right: 20px;
}
